* {
    font-family:  Raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 92px 0 92px 0;
}

.header__links-list {
    display: flex;
    justify-content: center;
    list-style-type: circle;
    margin-top: 44px;
    column-gap: 30px;
    margin-left: -40px;   
}

.header__links-list-item {
    text-decoration: underline;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo-image {
    margin-left: -50px;
    width: 148px;
    height: 105px;
}

.address {
    line-height: 25px;
}

.header__address {
    margin-top: 5px;
    margin-left: 25px;
}

.cover {
    width: 100%;
    min-height: 757px;
    background-image:url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.cover span {
    color: white;
    font-size: 100px;
}

.cover__title {
    letter-spacing: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

span .letter-spacing {
    letter-spacing: 60px;  
}

.aligned-text {
    line-height: 115px;
    align-self: start;
    margin-top: 160px;
}

.aligned-text_center {
    line-height: 100px;
    align-self: center;
    margin-top: 20px;
}

.aligned-text_right {
    line-height: 100px;
    align-self: end;
    margin-top: 21px;
    margin-right: -30px;
}

.cover__description {
    color: white;
    display: flex;
    justify-content: start;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 40px;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 18px;
    margin-left: 40px;
    position: relative;
}

.bet-button {
    font-size: 22px; 
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 32px 11px 31px;
    margin-left: 81px;
    margin-top: -10px;

}

.lots {
    margin-top: 179px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 64px;
}

.lots__card-list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    list-style-type: none;
}

.lots__card-list-item .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    width: 334px;
    min-height: 563px; 
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card-link {
    display: block;
    text-decoration: none;
}

.card__title {
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
    padding-top: 51px;
    padding-right: 40px;
    padding-left: 40px;
}

.card__text {
    font-size: 20px;
    color: white;
    margin: 0 40px 48px;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 64px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

.about__logo {
    position: relative;
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin-top: 181px;
    margin-left: 71px;  
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin-top: 65px;
    margin-left: 45px;
}

.info {
    margin-top: 282px;
    margin-left: 5px;
    width: 693px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 101px;
}

.about__text {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 24px;
    font-size: 20px;
    margin-right: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 157px 50px 137px;
}

.footer__address {
    line-height: 24px;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
    
}

.footer__menu-link_active a {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    column-gap: 48px;
    list-style-type: none;
    
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}